// Compile -> sass --watch app/assets/scss/app.scss:public/css/app.css

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Nunito+Sans');
$bodyFont: 'Nunito Sans', sans-serif;
$headerFont: 'Bree Serif', serif;

@import "grid";

body {
    margin: 0;
    padding: 0;
    color: black;
    background: #f3f3f3;
    font-family: $bodyFont;
}

@import "nav";
@import "form";
@import "flash";